.about-us-container {
  height: 95vh; /* Full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Add some padding for better appearance */
}

.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.about-us img.about-image {
  width: 500px; /* Adjust the image size as needed */
  display: block;
  margin: 20px auto; /* Center the image and add space below */
}

.about-us p {
  color: #555;
  line-height: 1.6;
  /* margin-bottom: 15px; */
}

.about-us h2,
.about-us h3 {
  color: #333;
  margin-top: 10px;
}
