.create-service-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.create-service-form input,
.create-service-form textarea,
.create-service-form select {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.create-service-form input::placeholder,
.create-service-form textarea::placeholder {
  color: #999;
}

.create-service-form .checkbox-container {
  align-items: left;
  margin-bottom: 1rem;
  margin-left: 20px;
}

.create-service-form .checkbox-container input[For="checkboxGuid"] {
  margin-left: -360px;
  margin-top: 12px;
  margin-bottom: 5px;
}

.create-service-form .checkbox-container label {
  font-size: 1rem;
  margin-left: -130px;
  margin-top: -25px;
  color: #A9A9A9;
}

.create-service-form button {
  grid-column: span 2;
  padding: 0.5rem;
  border: none;
  width: 100%;
  border-radius: 4px;
  background-color: #22547c;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.create-service-form button:hover {
  background-color: #0056b3;
}

.service-heading {
  color: #22547c;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  font-weight: bolder;
  grid-column: span 2;
}
