body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.service-list {
  padding: 20px;
}

.service-list .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.service-list h1 {
  color: #22547c;
  border-bottom: 2px solid #22547c;
  padding-bottom: 10px;
  font-weight: bolder;
}

.create-service-button {
  padding: 10px 20px;
  background-color: #22547c;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 15%;
}

.create-service-button:hover {
  background-color: #1d4469;
}

.table-container {
  max-height: 550px;
  overflow-y: auto;
  margin: 0 auto;
}

.service-list table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ced4da;
  border-radius: 10px;
}

.service-list th, .service-list td {
  padding: 10px;
  text-align: left;
  color: black;
}

.service-list th {
  background-color: #22547c;
  color: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.service-list tr:nth-child(even) {
  background-color: #eeeeee;
}

.service-list tr:nth-child(odd) {
  background-color: #cccccc;
  color: black;
}

.service-list tr:hover {
  background-color: #a3a3a3;
}

.action-icon {
  color: #22547c;
  cursor: pointer;
}

.edit-icon {
  margin-right: 10px;
}

.delete-icon {
  margin-left: 10px;
  color: red;
}

.action-icon:hover {
  color: #1d4469;
}

.book-now-button {
  background-color :#22547c;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 4px;
}

.book-now-button:hover {
  background-color: #45a049;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.ReactModal__Content {
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
  z-index: 11;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  margin: 0 10px;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}

.close-button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
  font-size: 14px;
  width: 90%;
  margin-left: 20px;
}

.close-button:hover {
  background-color: #c82333;
}
