.work-with-us-container {
  height: 95vh;
  overflow-y: auto;
  padding: 10px;
}

.work-with-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.work-with-us img.work1-image {
  width: 600px;
  display: block;
  margin: 20px auto;
}

.work-with-us p {
  color: #555;
  line-height: 1.6;
}

.work-with-us p ul li{
  text-align: left;
}

.work-with-us h2,
.work-with-us h3 {
  color: #333;
  margin-top: 10px;
}

.bold-text {
  font-weight: bold;
}
